@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}
body > div#geral{
    width: 100%; 
    background: linear-gradient(135deg, #0c1322, #293d5d);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body > div#geral > section.secGerais{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
PRIMEIRA SECTION -------------------------------------------------------
APRESENTAÇÃO TEXTO -----------------------------------------------------
*/
body > div#geral > section#secGeral1{
    height: 90vh;
    box-shadow: inset 0 0px 1000px rgb(0, 0, 0, 0.5);
} 
body > div#geral > section#secGeral1 > div#apresentacaoTexto{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
body > div#geral > section#secGeral1 > div#apresentacaoTexto > div#texto{
    width: 85%;
    height: 30%;
    padding: 20px;
}
body > div#geral > section#secGeral1 > div#apresentacaoTexto > div#texto > div#nome > h1#nomeTitle{
    color: #E5E7EB;
    font-size: 100px;
    text-indent: -6px;
}
body > div#geral > section#secGeral1 > div#apresentacaoTexto > div#texto > div#cargo > h2#cargoTitle{
    color: #9CA3AF;
    font-size: 40px;
}
body > div#geral > section#secGeral1 > div#apresentacaoTexto > div#tecBox{
    width: 85%;
    height: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}
body > div#geral > section#secGeral1 > div#apresentacaoTexto > div#tecBox > div#tecTitleBox{
    color: #E5E7EB;
    font-size: 40px;
    width: 100%;
    height: 25%;
}
body > div#geral > section#secGeral1 > div#apresentacaoTexto > div#tecBox > div#tecList{
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 33% 33% 33%; 
    height: 60%;
}
body > div#geral > section#secGeral1 > div#apresentacaoTexto > div#tecBox > div#tecList > div.tecnologias{
    width: 70%;
    height: 60px;
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 200px #778899;
    background: linear-gradient(135deg, #6a0dad, #1e90ff);
    color: #E5E7EB;
    font-size: 28px;
    border-right: 4px solid #2e064b;
    border-bottom: 4px solid #2e064b;
}
body > div#geral > section#secGeral1 > div#apresentacaoTexto > div#tecBox > div#tecList > div.tecnologias > i{
    vertical-align: middle;
}
body > div#geral > section#secGeral1 > div#apresentacaoTexto > div#tecBox > div#tecList > div.tecnologias:hover{
    box-shadow: 0 5px 120px #778899;
    border-right: 4px solid #580892;
    border-bottom: 4px solid #580892;
    transition: .3s;
}
/*
PRIMEIRA SECTION -----------------------------------------------------
APRESENTAÇÃO FOTO ----------------------------------------------------
*/
body > div#geral > section#secGeral1 > div#apresentacaoFoto{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
body > div#geral > section#secGeral1 > div#apresentacaoFoto > img#fotoApresentacao{
    width: 73%;
}

/*
SEGUNDA SECTION -------------------------------------------------------
*/
body > div#geral > section#secGeral2{
    height: 85vh;
    background-color: #E5E7EB;
    box-shadow: inset 0 0px 1000px rgb(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
body > div#geral > section#secGeral2 > div#projectTitle{
    font-size: 33px;
}
body > div#geral > section#secGeral2 > div#projectAccessBoxes{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
}
body > div#geral > section#secGeral2 > div#projectAccessBoxes > div.projects{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(135deg, #0c1322, #293d5d);
    border-radius: 10px;
    padding: 50px 80px;
    text-align: justify;
    font-size: 26px;
    color: #E5E7EB;
    width: 30%;
    box-shadow: 0 5px 60px #778899;
    transition: .3s;
}
body > div#geral > section#secGeral2 > div#projectAccessBoxes > div.projects:hover{
    box-shadow: 0 5px 120px #778899;
    width: 31%;
}
body > div#geral > section#secGeral2 > div#projectAccessBoxes > div.projects > p{
    font-size: 26px;
}
body > div#geral > section#secGeral2 > div#projectAccessBoxes > div.projects > button.projectBtn{
    border: none;
    width: 50%;
    height: 15%;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
    background: linear-gradient(135deg, #6a0dad, #1e90ff);
    color: #E5E7EB;
}

/*
TERCEIRA SECTION -------------------------------------------------------
*/
body > div#geral > section#secGeral3{
    height: 40vh;
    background: linear-gradient(135deg, #0c1322, #293d5d);
    box-shadow: inset 0 0px 1000px rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
} 
body > div#geral > section#secGeral3 > div.cont{
    width: 45%;
    height: 90%;
    color: #E5E7EB;
}
body > div#geral > section#secGeral3 > div#contatos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
body > div#geral > section#secGeral3 > div#contatos > div#contatoTitle{
    font-size: 35px;
}
body > div#geral > section#secGeral3 > div#contatos > div#outrosContatos{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
body > div#geral > section#secGeral3 > div#contatos > div#outrosContatos > div.oCChildren{
    font-size: 25px;
    height: 30%;
    display: flex;
    align-items: center;
    vertical-align: middle;
}

body > div#geral > section#secGeral3 > div#contatos > div#outrosContatos > div.oCChildren > i{
    margin-right: 10px;
    font-size: 28px;
}

body > div#geral > section#secGeral3 > div#redesSociais{
    border-left: 1px solid #e5e7eb81;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
body > div#geral > section#secGeral3 > div#redesSociais > div.redes{
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
body > div#geral > section#secGeral3 > div#redesSociais > div.redes > i{
    font-size: 130px;
}
body > div#geral > section#secGeral3 > div#redesSociais > div.redes > button{
    width: 50%;
    height: 15%;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    background: linear-gradient(135deg, #6a0dad, #1e90ff);
    color: #E5E7EB;    
}
body > div#geral > section#secGeral3 > div#redesSociais > div.redes > button:hover{
    box-shadow: 0 0 120px  #778899;
}